<!DOCTYPE html>
<html lang="en">
<head>
    <title>Flask application</title>
    <!-- sluzi za primenu main.css fajla na trenutnu html stranu -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
</head>
<body>
<header>
    <div class="container">
        <h1 class="logo">Andreja's web app</h1>
        <strong>
            <nav>
                <ul class="menu">
                    <!--url_for funkcija trigeruje home i about metodu iz main.py -->
                    <li><a href="{{ url_for('home')}}">Home</a></li>
                    <li><a href="{{ url_for('about')}}">About</a></li>
                </ul>
            </nav>
        </strong>
    </div>
</header>
<div class="container">
    <!-- home.html ce se izvrsiti ovde -->
    {%block content%}
    {%endblock%}
</div>
</body>
</html>